.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #fff;
}

.logo {
  margin-right: 20rem;
  color: #0056b3;
}

.logo img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/LP-05.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-container {
  display: flex;
  align-items: center;
  /* gap: 20px; */
}

.globimg {
  max-width: 560px;
  max-height: 560px;
  object-fit: cover;
  position: absolute;
  bottom: 210px;
}

.image-text {
  font-size: 5rem;
  position: absolute;
  left: 550px;
  bottom: 390px;
  font-weight: 900;
  color: #244ea0;
  font-family: "Times New Roman", Times, serif;
}

.form {
  margin-left: 60rem;
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-row input,
.form-row select {
  flex: 1;
  padding: 12px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

.form-row .submit-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-row .submit-btn:hover {
  background-color: #0056b3;
}

.bottomDiv {
  width: 350px;
}

.respoImg {
  max-width: 220px;
  max-height: 220px;
  object-fit: cover;
  position: relative;
  left: 20px;
}
.flagRowRespo {
}

.mobile-text {
  font-size: 2rem;
  position: absolute;
  font-weight: 700;
  color: #244ea0;
  font-family: "Times New Roman", Times, serif;
  bottom: 100px;
  left: 500px;
}
.flagRow {
  height: auto;
  width: 750px;
  position: absolute;
  bottom: 130px;
}

@media (min-width: 1500px) {
  form-row input,
  .form-row select {
    width: 330px;
  }
}
@media (max-width: 1599px) {
  .form {
    margin-left: 30rem;
  }
}
@media (max-width: 1700px) {
  .image-text {
    left: 450px;
  }
}
@media (max-width: 1600px) {
  .globimg {
    max-width: 560px;
    max-height: 560px;
    object-fit: cover;
    position: absolute;
    left: 10px;
  }
  .image-text {
    left: 310px;
  }
  .flagRow {
    height: auto;
    width: 650px;
    position: absolute;
    bottom: 130px;
    left: 50px;
  }
}
@media (max-width: 1500px) {
  .globimg {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    position: absolute;
    left: 10px;
  }
  .image-text {
    left: 310px;
    font-size: 4.45rem;
  }
}
@media (max-width: 1400px) {
  .globimg {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    position: absolute;
    left: 10px;
  }
  .image-text {
    left: 220px;
    font-size: 4rem;
  }
  .flagRow {
    height: auto;
    width: 500px;
    position: absolute;
    bottom: 130px;
  }
}
@media (max-width: 1111px) {
  .globimg {
    display: none;
  }
  .image-text {
    display: none;
  }
  .flagRow {
    display: none;
  }
  .form {
    margin-left: 0rem;
  }

  .logo {
    margin-right: 0rem;
  }

  .logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }
}
@media (min-width: 1112px) {
  .bottomDiv {
    display: none;
  }
}
@media (max-width: 900px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 100px;
    left: 400px;
  }
}
@media (max-width: 730px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 100px;
    left: 350px;
  }
}
@media (max-width: 630px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 100px;
    left: 300px;
  }
}
@media (max-width: 530px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 100px;
    left: 250px;
  }
}
@media (max-width: 482px) {
  .mobile-text {
    font-size: 2.5rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 150px;
    left: 220px;
  }
}
@media (max-width: 412px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 100px;
    left: 150px;
  }
}
@media (max-width: 380px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 100px;
    left: 140px;
  }
  .bottomDiv {
    width: 350px;
  }
}
@media (max-width: 375px) {
  .mobile-text {
    font-size: 2rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 10px;
    left: 140px;
  }
  .bottomDiv {
    width: 350px;
  }
}
@media (max-width: 362px) {
  .mobile-text {
    font-size: 2.5rem;
    position: absolute;
    font-weight: 700;
    color: #244ea0;
    font-family: "Times New Roman", Times, serif;
    bottom: 60px;
    left: 120px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
  .form {
    max-width: 450px;
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #535353;
    border-radius: 8px;
    font-size: 13px;
  }
  .form-row select {
    flex: 1;
    padding: 7px;
    border: 1px solid #535353;
    border-radius: 8px;
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .form-row input {
    width: 72px;
    font-size: 11px;
  }
  .form-row select {
    font-size: 11px;
  }

  .form {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .content {
    display: block;
  }
  .mobile-text {
    bottom: 45px;
    font-size: 1.9rem;
    left: 143px;
  }

  .form-container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo img {
    width: 100%;
    height: 75px;
    object-fit: cover;
  }
}
